body {
	font-family: 'Coming Soon', cursive;
	text-align: center;
	margin-bottom: 25px;
}

main {
	margin: 20px 2px;
	background-color: #daebe8;
}

h1, h2, h3 {
	font-family: cursive;
}

figcaption, li, p, q, cite {
	font-size: 12.5px;
}

figure {
	background-color: #b7d7e8;
	margin: 0 15px;
	box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.6);
}

footer {
	padding: 10px;
	background-color: #87bdd8;
}

#image {
	max-width: 60%;
	height: auto;
	display: block;
	padding-top: 2.5em;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
}

#img-caption {
	padding-bottom: 10px;
}

#tribute-info li {
	margin: 0 0 2em 0;
}

#tribute-info {
	text-align: justify;
	margin: 0 30%;
	padding-left: 0;
	line-height: 2em;
}

#tribute-info h2 {
	padding: 50px 0;
	text-align: center;
}

@media (max-width: 600px){

	#tribute-info {
		margin: 0 5%;
	}

}